.jumbotron{
			width: 1000px;
			text-align: left;
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
}

.panel-index{
	margin-top: 50px;

}

.ui-alert {
	background-color: #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-alert-title {
	color: #AF4341;
	font-weight: bold;
	font-size: 24px;
}

.ui-alert-message {
	color: #AF4341;
}

.sample-show-hide {
	transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
	opacity: 0;
}