.jumbotron{
			width: 1000px;
			text-align: left;
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
}

.panel-index{
	margin-top: 50px;

}

.ui-alert {
	background-color: #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-alert-title {
	color: #AF4341;
	font-weight: bold;
	font-size: 24px;
}

.ui-alert-message {
	color: #AF4341;
}

.sample-show-hide {
	transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
	opacity: 0;
}

.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}

.w3-ul{list-style-type:none;padding:0;margin:0}
.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.w3-ul li:last-child{border-bottom:none}

.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}

.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}

.w3-xlarge{font-size:24px!important}

.w3-xxlarge{font-size:36px!important}

.w3-xxxlarge{font-size:48px!important}

.w3-jumbo{font-size:64px!important}

.w3-left{float:left!important}

.w3-right{float:right!important}

.w3-circle{border-radius:50%}

.w3-margin-right{margin-right:16px!important}

.w3-large{font-size:18px!important}



