<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title text-center">Listagem</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Data de Nascimento</th>
          <th>Telefone</th>
          <th>Sexo</th>
          <th>Reclamação</th>
          <th></th>
        </tr>
        <tr ng-repeat="contato in list">
           <td>{{contato.id}}</td> 
          <td>{{contato.nome}}</td>
          <td>{{contato.endereco}}</td>
          <td>{{contato.dtNascimento| date : "dd/MM/yyyy"}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.sexo}}</td>
          <td>{{contato.reclamacao}}</td>          
          <td>
                <button class="btn btn-warning" ng-click="editItem(contato.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar</button>
                <button class="btn btn-danger" ng-click="deleteItem(contato.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Excluir</button>
          </td>
          </td>
        </tr>
      </table>
    </div>
  </div>