<html ng-app="listaTelefonica">
<head>
		<title>Hello World</title>

		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

		<style>
		.jumbotron{
			width: 500px;
			text-align: center;
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
		}
		</style>
		<script src="lib/angular/angular.min.js"></script>
		
		<script>
			angular.module("listaTelefonica", []);
			angular.module("listaTelefonica").controller("listaTelefonicaController",
			 function ($scope) {
				$scope.app = "Lista Telefonica!";
				$scope.contatos = [
				{nome: "Pedro", telefone: "95449-4247"},
				{nome: "Ana", telefone: "95542-2255"},
				{nome: "Maria", telefone: "93556-5522"},
				{nome: "João", telefone: "99999999"}
				];
			});
		</script>
</head>	
	<body>
	<div  ng-controller="listaTelefonicaController">

		<div class="jumbotron">

			<h3>{{app + 'Qtde = ' + 5*20}}</h3>	
<!-- Uma forma de percorrer -->
			<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
				</tr>
				<tr ng-repeat="contato in contatos">
					
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
				</tr>
			</table>
		</div>


<!-- Outra forma de percorrer -->
			<div class="jumbotron">
					<table class="table table-striped">
					<tr>
						<th>Nome</th>
						<th>Telefone</th>
					</tr>

					<tr ng-repeat="contato in contatos">
						
						<td ng-repeat="(key,value) in contato">
						         {{key + ' -  ' + value}}
						</td>
						
					</tr>
				</table>	
				</div>
		</div>
	</body>

</html>