<html ng-app="listaTelefonica">
<head>
		<title>Hello World</title>
<!--ng-model Pega alguma coisa da view e define no scope
Aplica nos 
inputs
selects
 -->
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

		<style>
		.jumbotron{
			width: 500px;
			text-align: center;
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
		}
		.form-control{
		}
		</style>
		<script src="lib/angular/angular.min.js"></script>
		
		<script>
			angular.module("listaTelefonica", []);
			angular.module("listaTelefonica").controller("listaTelefonicaController",
			 function ($scope) {
				$scope.app = "Lista Telefonica!";
				$scope.contatos = [
				{nome: "Pedro", telefone: "95449-4247"},
				{nome: "Ana", telefone: "95542-2255"},
				{nome: "Maria", telefone: "93556-5522"},
				{nome: "João", telefone: "99999999"}
				];
				$scope.adicionarContato = function (contato){
					// adicona o objeto na ultima posição da fila
					$scope.contatos.push({
						nome: contato.nome, telefone: contato.telefone
					});
					//console.log($scope.nome);

				};
			});
		</script>
</head>	
	<body>
	<div  ng-controller="listaTelefonicaController">

		<div class="jumbotron">

			
       <!-- Uma forma de percorrer -->
			<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
				</tr>
				<tr ng-repeat="contato in contatos">
					
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
				</tr>
			</table>

	   <hr/	

	      </div>

	      	<!-- adicionando ng-model no input já é o suficiente para 
	      	recuperar o model  -->
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="nome" />
			<input class="form-control" type="text" ng-model="contato.telefone" placeholder="telefone" />
			{{nome}}	
			<hr/>	
			{{telefone}}
			<hr/>	
			<!-- Pode passar os atributos como parametro 
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(nome, telefone)">Adicionar Contato</button> -->

			<!-- Pode passar o objeto como parametro -->
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
		</div>
	</body>

</html>