<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title text-center">Clientes</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>codigo</th>
                <th>Nome</th>
                <th>Data de Cadastro</th>
                <th>Data de Ultima Atualização</th>
                <th></th>
            </tr>
            <tr ng-repeat="cliente in list">
                <td>{{cliente.codigo}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.dataCadastro| date : "dd/MM/yyyy"}}</td>
                <td>{{cliente.dataUltimaAlteracao| date : "dd/MM/yyyy"}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="editItem(cliente.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar</button>
                    <button class="btn btn-danger" ng-click="deleteItem(cliente.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Excluir</button>
                </td>
                </td>
            </tr>
        </table>
    </div>
</div>