<div class="row">
        <div class="col-sm-9 pager">
            <div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;" ng-if="ProductCtrl.alertMsg">
                <strong>Info! {{ProductCtrl.alertMsg}}</strong>
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">X</a>
            </div>
        </div>
</div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h3 class="text-center"  data-ng-bind="ProductCtrl.labelView"></h3>
                <div class="col-sm-12">
                    <div class="panel-body">
              <form>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label class="label-control" for="productNew-codigo">Codigo</label>
                                <input type="text" class="form-control" id="productNew-codigo" readonly="readonly" ng-model="product.codigo">
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="nome">Nome do product</label>
                                <input type="text" class="form-control" id="nome" placeholder="Nome do product" ng-model="product.nome">
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="valor">Valor do product</label>
                                <input type="text" class="form-control" id="valor" placeholder="Valor" ng-model="product.valor">
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="quantidade">Quantidade</label>
                                <input type="text" class="form-control" id="quantidade" placeholder="quantidade" ng-model="product.quantidade">
                            </div>
                        </div>

                        <div class="col-sm-9"  data-ng-if="ProductCtrl.showCreate">
                            <div class="form-group">
                                <label for="dataCadastro">Data de dataCadastro</label>
                                <input type="date"
                                       class="form-control"
                                       id="dataCadastro"
                                       datetime="hh-MM-yyyy HH:mm:ss"
                                       placeholder="Data de dataCadastro"
                                       ng-model="product.dataCadastro"
                                       ng-required="false">
                            </div>
                        </div>

                        <div class="col-sm-9" data-ng-if="ProductCtrl.showUpdate">
                            <div class="form-group">
                                <label for="dataCadastro">Data de dataCadastro</label>
                                <input type="text" class="form-control" id="dataCadastro" readonly="true" placeholder="Data de dataCadastro" ng-model="product.dataCadastro" ng-required="false">
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="dataUltimaAlteracao">Data de UltimaAlteracao</label>
                                <input type="text" class="form-control" id="dataUltimaAlteracao" readonly="true" placeholder="Data de UltimaAlteracao" ng-model="product.dataUltimaAlteracao" ng-required="false">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <button type="submit" data-ng-if="ProductCtrl.showCreate" class="btn btn-primary btn-lg btn-block" data-ng-click="ProductCtrl.save(product)" ng-disabled="!(product.nome)">Create!</button>
                                             <button type="submit" data-ng-if="ProductCtrl.showUpdate" class="btn btn-primary btn-lg btn-block" data-ng-click="ProductCtrl.update(product)" ng-disabled="!(product.nome)">Update!</button>
                                            <button class="btn btn-default btn-lg btn-block" data-ng-click="ProductCtrl.cancel()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-9">
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-if="isUpdate()" data-ng-click="update(product)" ng-disabled="!(product.nome)">Atualizar!</button>

                                            <button class="btn btn-default btn-lg btn-block" onclick="document.location.hash = '#/listar-products'" data-ng-if="isUpdate()">Cancelar</button>

                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
             </form>
</div>
</div>