<!--Depois que eu comentei esse trecho, parou de dar erro no direcionamento de tela-->
<!--data-ng-controller="ProductController as ProductCtrl"-->

<div class="row">
    <div class="col-md-4" data-ng-if="ProductCtrl.listCategories.categories.length">
        <label class="control-label">Category</label>
        <select class="form-control"
                show-message="ProductCtrl.showMessage"
                data-ng-options="category.name for category in ProductCtrl.listCategories.categories"
                data-ng-model="ProductCtrl.category"
                data-ng-change="ProductCtrl.loadProductsByCategoryId(ProductCtrl.category);">
            <option value="">---Please select---</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="col-lg-9">
<div id="list" data-ng-if="ProductCtrl.products.length">

    <div>
        <h1>List Products</h1>
        {{$id}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Products</h2>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Search Product:</label>
                        <input type="text" ng-model="ProductCtrl.search" class="form-control" placeholder="Search...">
                    </div>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>
                            <button class="btn btn-default glyphicon glyphicon-retweet" ng-click="ProductCtrl.sortBy('codigo')">Code</button>
                            <span class="sortorder" ng-show="ProductCtrl.propertyName === 'codigo'" ng-class="{reverse: reverse}"></span>
                        </th>

                        <th>Name of Product</th>
                        <th>Value</th>
                        <th>Quantitie</th>
                        <th>Date of Creation</th>
                        <th>Date of Last Modification</th>
                        <th>Actions</th>
                    </tr>
                    <tr dir-paginate="product in ProductCtrl.products
                     | itemsPerPage:5
                     | orderBy:ProductCtrl.propertyName:ProductCtrl.reverse
                     | filter:ProductCtrl.search">

                        <td>{{product.codigo}}</td>
                        <td>{{product.nome}}</td>
                        <td>{{product.valor}}</td>
                        <td>{{product.quantidade}}</td>
                        <td>{{product.dataCadastro| date : "dd/MM/yyyy"}}</td>
                        <td>{{product.dataUltimaAlteracao| date : "dd/MM/yyyy"}}</td>
                        <td>
                            <button class="btn btn-warning" ng-click="ProductCtrl.listUpdate(product);"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                            <button class="btn btn-danger" data-ng-click="ProductCtrl.listDelete(product);"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
                        </td>
                        </td>
                    </tr>
                </table>
                <dir-pagination-controls max-size="6" direction-links="true" boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
</div>
</div>

 <!--<div class="row">
        <div class="col-sm-6">
            <a href="javascript:void(0)"
               data-ng-click="passoDoisResumoCtrl.exibirModalEnderecoCorretor()"
               data-ng-if="passoDoisResumoCtrl.isExibirLinkEnderecoCorretor()">Endereço</a>
        </div>
    </div>-->