<div id="anchor{{x}}" ng-controller="ProductController as ProductCtrl">
     <div ng-include="'sofea-bower-omc-pedidos/module/produto/view/updateProduct.html'" data-ng-if="ProductCtrl.showUpdate"> </div>
    <h1>List Products</h1>
    <div ng-if="ProductCtrl.products.length">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Products</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>
                            <button class="btn btn-default glyphicon glyphicon-retweet" ng-click="ProductCtrl.sortBy('codigo')">Code</button>
                            <span class="sortorder" ng-show="ProductCtrl.propertyName === 'codigo'" ng-class="{reverse: reverse}"></span>
                        </th>

                        <th>Name of Product</th>
                        <th>Value</th>
                        <th>Quantitie</th>
                        <th>Date of Creation</th>
                        <th>Date of Last Modification</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="product in ProductCtrl.products | orderBy:ProductCtrl.propertyName:ProductCtrl.reverse">
                        <td>{{product.codigo}}</td>
                        <td>{{product.nome}}</td>
                        <td>{{product.valor}}</td>
                        <td>{{product.quantidade}}</td>
                        <td>{{product.dataCadastro| date : "dd/MM/yyyy"}}</td>
                        <td>{{product.dataUltimaAlteracao| date : "dd/MM/yyyy"}}</td>
                        <td>
                            <button class="btn btn-warning" ng-click="ProductCtrl.update(product); ProductCtrl.gotoAnchor(1);"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                            <button class="btn btn-danger" ng-click="ProductCtrl.delete(product.codigo)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
                        </td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>