<h1> > product</h1>
<div data-ng-controller="ProductController as ProductCtrl">

 

    <div class="btn-group" role="group">

        <button class="btn btn-success" ng-click="ProductCtrl.showViews('showCreate')"> 
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> create product
        </button>

        <button class="btn btn-primary" ng-click="ProductCtrl.showViews('showUpdate')">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update product
        </button>

        <button class="btn btn-info" ng-click="ProductCtrl.showViews('showList')">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> list product
        </button>

        <button class="btn btn-danger" ng-click="ProductCtrl.showViews('showDelete')">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Product
        </button>

        <button class="btn btn-default" ng-click="ProductCtrl.showViews('showTest')">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Test Product
        </button>

    </div>

    <div ng-include="'sofea-bower-omc-pedidos/module/produto/view/listProduct.html'" data-ng-if="ProductCtrl.showList"> </div>
    <div ng-include="'sofea-bower-omc-pedidos/module/produto/view/updateProduct.html'" data-ng-if="ProductCtrl.showUpdate"> </div>
    <div ng-include="'sofea-bower-omc-pedidos/module/produto/view/deleteProduct.html'" data-ng-if="ProductCtrl.showDelete"> </div>
    <div ng-include="'sofea-bower-omc-pedidos/module/produto/view/createProduct.html'" data-ng-if="ProductCtrl.showCreate"> </div>
    <div ng-include="'sofea-bower-omc-pedidos/module/produto/view/testProduct.html'" data-ng-if="ProductCtrl.showTest"> </div>
    
</div>