<div data-ng-controller="UpdateProductController as UpdateProductCtrl">
    <h3> >Update Product</h3>
    <div class="row">
        <div class="col-sm-9 pager">

            <div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;" ng-if="UpdateProductCtrl.alertMsg">
                <strong>Info! {{UpdateProductCtrl.alertMsg}}</strong>
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">X</a>
            </div>


        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h3 class="text-center" data-ng-bind="labelCadastro"></h3>
                <div class="col-sm-12">
                    <div class="panel-body">

                        <form>

                            <div class="col-sm-9">
                                <div class="row">

                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label class="label-control" for="produto-codigo">Codigo</label>
                                            <input type="text" class="form-control" id="produto-codigo" readonly="readonly" ng-model="UpdateProductCtrl.product.codigo">
                                        </div>
                                    </div>

                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="nome">Nome do Produto</label>
                                            <input type="text" class="form-control" id="nome" placeholder="Nome do Produto" ng-model="UpdateProductCtrl.product.nome">
                                        </div>
                                    </div>


                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="valor">Valor do Produto</label>
                                            <input type="text" class="form-control" id="valor" placeholder="Valor" ng-model="UpdateProductCtrl.product.valor">
                                        </div>
                                    </div>


                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="quantidade">Quantidade</label>
                                            <input type="text" class="form-control" id="quantidade" placeholder="quantidade" ng-model="UpdateProductCtrl.product.quantidade">
                                        </div>
                                    </div>

                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="dataCadastro">Data de data Cadastro</label>
                                            <input readonly="readonly" type="text" class="form-control" id="dataCadastro" ng-model="UpdateProductCtrl.product.dataCadastro">
                                        </div>
                                    </div>

                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="dataUltimaAlteracao">Data de Ultima Alteracao</label>
                                            <input readonly="readonly" type="text" class="form-control" id="dataUltimaAlteracao" ng-model="UpdateProductCtrl.product.dataUltimaAlteracao">
                                        </div>
                                    </div>
                                    <!--data-ng-if="!isUpdate()"-->
                                    <div class="col-sm-12">
                                        <div class="row">

                                            <div class="col-sm-9">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1 col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-click="UpdateProductCtrl.save(product)" ng-disabled="!(UpdateProductCtrl.product.nome)">Cadastrar!</button>

                                                        <button class="btn btn-default btn-lg btn-block" onclick="document.location.hash = '#/listar-produtos'" data-ng-if="!isUpdate()">Cancelar</button>

                                                    </div>
                                                </div>
                                            </div>


                                            <!--<div class="col-sm-9">
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1 col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-if="isUpdate()" data-ng-click="update(produto)" ng-disabled="!(produto.nome)">Atualizar!</button>

                                                        <button class="btn btn-default btn-lg btn-block" onclick="document.location.hash = '#/listar-produtos'" data-ng-if="isUpdate()">Cancelar</button>

                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                        </form>
                        </div>

                    </div>